# Object files
*.o

# Libraries
*.lib
*.a
*/lib/*
*/dist/*

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Emacs junk
*.c~
*.h~
Makefile~
\#*#
\.#*

# Other
user.in
